/*Navbar*/
/*#center-nav {
    margin: auto;
    text-transform: uppercase;
    font-family: 'Abril Fatface', cursive;
    font-size: 2em;
}*/

/*Header*/
#header{
	background-image: url(images/Header.png);
	background-size: cover;
	height: 100vh;
}

#header h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    position: relative;
	top: 50%;
	transform: translateY(-50%);
	letter-spacing: 0.2em;
}

/*Main*/
#stories-header {
	text-align: center;
	text-transform: uppercase;
	margin: 3% auto;
}

#stories-header h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	/*font-style: italic;*/
	letter-spacing: 0.3em;
}

	/*Stories*/
.card {
	margin-top: 5%;
	border: none !important;
}

.card-text {
	font-family: 'Crimson Text', serif;
	font-size: 1.2rem;
}

/*Footer*/
footer{
	margin-top: 3%;
	padding: 2em; 
	background-color: #000;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

footer h2 {
	font-family: 'Abril Fatface', cursive;
}

.fab {
	/*padding-right: 1em;*/
	padding: 2% 1%;
}
